*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', sans-serif;
}

:root{
    --color-second: #9b5347;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    color: white;
    background-color: rgb(48, 38, 69);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 2rem;
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 2rem;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(46, 26, 71, 0.61); 
    backdrop-filter: blur(10px);
}

@keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
      color: hsl(230, 100%, 95%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
  }

.header .logo{
  color: hsl(230, 100%, 95%);
  font-size: 3.5rem;
  font-weight: 300;
  animation: lights 5s 750ms linear infinite;
}

.logo{
    font-size: 3rem;
    font-weight: 600;
    color: white;
    transition: 0.3s;
}

.logo:hover{
    transform: scale(1.1);
    text-shadow: 2px 2px 10px #9b5347
}

.navigasi a {
    color: antiquewhite;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 10px 15px;
    display: inline-block;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    perspective: 1000px; 
}

.navigasi a:hover {
    transform: rotateY(50deg);
}

main{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 5rem;
}

section{
    min-height: 100vh;
    padding: 5rem 5%;
    width: 60%;
}

aside{
    width: 40%;
    margin-top: 5%;
}

.artikel-header{
    width: 100%;
    height: 100%;
}

.artikel-container{
    width: 100%;
}

.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 4rem; */
}

.header-content h1{
    font-size: 2.2rem;
    margin-bottom: 2rem;
    margin-top: 5%;
}

.back-home{
    color: white;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 500;
}

.header-title{
    width: 80%;
    font-size: 2.6rem;
    text-align: center;
}

.header-img{
    width: 100%;
    max-width: 650px;
    height: auto;
    object-fit: cover;
}

.artikel-content{
    width: 100%;
    max-width: 800px;
    margin-top: 4rem;
    text-align: justify;
}

.artikel-content h2{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.artikel-content h2 span{
    color: #9b5347;
}

.artikel-content h1{
    margin: 1rem;
    font-size: 1.5rem;
}

.artikel-content p{
    font-size: 1.5rem;
}

.artikel-box{
    padding: 15px;
    border-radius: 0.5rem;
    margin-bottom: 70px;
}

.artikel-box img{
    width: 100%;
    max-width: 200px;
    height: auto;
    float: left;
    margin-right: 20px;
}

.artikel-box h2{
    color: #9b5347;
    margin: 5px;
}

.artikel-box h3{
    font-size: 1.2rem;
    color: aliceblue;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 50%; /* Ukuran font lebih kecil untuk ponsel */
    }

    .header {
        flex-direction: column;
        padding: 1.5rem 5%;
    }

    .logo {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .navigasi a {
        font-size: 1.4rem;
        padding: 8px 10px;
    }

    main {
        flex-direction: column;
        padding-top: 4rem;
    }

    section, aside {
        width: 100%;
        margin: 0;
    }

    .header-title {
        font-size: 2rem;
        text-align: center;
        width: 100%;
    }

    .artikel-header, .artikel-content {
        padding: 4rem 2%;
    }

    .artikel-box img {
        max-width: 150px;
        margin-right: 10px;
    }

    footer {
        padding: 40px;
    }

    footer .social-icon li a {
        font-size: 2.5rem;
    }

    footer .menu li a {
        font-size: 1.8rem;
    }

    footer p {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 1.8rem 6%;
    }

    .logo {
        font-size: 2.8rem;
    }

    .navigasi a {
        font-size: 1.5rem;
    }

    .header-title {
        font-size: 2.4rem;
    }

    .header-title h2{
        margin-top: 2rem;
    }

    .artikel-content {
        font-size: 1.4rem;
    }

    .artikel-box img {
        max-width: 170px;
        margin-right: 15px;
    }

    footer .social-icon li a {
        font-size: 2.7rem;
    }

    footer .menu li a {
        font-size: 2rem;
    }


    footer p {
        font-size: 1.25rem;
    }
}

footer{
    margin-top: 30%;
    position: relative;
    width: 100%;
    background: #36265c;
    min-height: 100px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social-icon,
footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social-icon li,
footer .menu li{
    list-style: none;

}

footer .social-icon li a{
    font-size: 3em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social-icon li a:hover{
    transform: translateY(-10px);

}

footer .menu li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover{
    opacity: 1;
}

footer p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.3em;
}

footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../img/wave2.png);
    background-size: 1000px 100px;
    
}

footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave_02 3s linear infinite;
}

footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave 3s linear infinite;
}

@keyframes animateWave{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}

@keyframes animateWave_02{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}