*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

:root{
    --color-second: #9b5347;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    color: white;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 2rem;
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 2rem;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2E1A47;
    backdrop-filter: blur(1000px);
}

.logo{
    font-size: 3rem;
    font-weight: 600;
    color: white;
    transition: 0.3s;
}

.logo:hover{
    transform: scale(1.1);
    text-shadow: 2px 2px 10px #9b5347
}


.navigasi a {
    color: antiquewhite;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 10px 15px;
    display: inline-block;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    perspective: 1000px; 
}

.navigasi a:hover {
    transform: rotateY(50deg);
}

section{
    min-height: 100vh;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 5%;
}

/* SECTION HOME */

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/743/891/712/starry-sky-4k-8k-wallpaper-preview.jpg);
    background-size: cover;
    

}

.konten-home{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}

.heading{
    font-size: 5rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.konten-home p{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6;
    max-width: 1000px;
}

.logo-gacor img{
    position: relative;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--color-second);
    width: 30vw;
    transition: 0.4s ease-in-out;

}

/* SECTION ZODIAK */

.zodiak{
    padding: 100px 15px;
    background: rgb(48, 38, 69);
}

.logo-zodiak{
    font-family: 'Zodiac Signs', sans-serif;
    font-size: 10rem;   
    border: 2px solid white;
    border-radius: 200%;     
              
}

.zodiak-box{
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.zodiak .heading{
    margin-bottom: 5rem;
    font-weight: 800;
}


.wrapper{
    display: grid;
    /* membuat dua kolom yang ukurannya sama lebar. */
    grid-template-columns: repeat(5, 1fr);
    gap: 5rem;
}

.zodiak-item a{
    color: white;
}