*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', sans-serif;
}

:root{
    --color-second: #9b5347;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    color: white;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 2rem;
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 2rem;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2E1A47;
    backdrop-filter: blur(1000px);
}

.logo{
    font-size: 3rem;
    font-weight: 600;
    color: white;
    transition: 0.3s;
}

.logo:hover{
    transform: scale(1.1);
    text-shadow: 2px 2px 10px #9b5347
}


.navigasi a {
    color: antiquewhite;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 10px 15px;
    display: inline-block;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    perspective: 1000px; 
}

.navigasi a:hover {
    transform: rotateY(50deg);
}

section{
    min-height: 100vh;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 5%;
}

@media only screen and (max-width: 600px) {
    .header {
        flex-direction: column;
        padding: 1.5rem 5%;
    }

    .logo {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    .navigasi a {
        font-size: 1.4rem;
        padding: 8px 10px;
    }
}
/* SECTION HOME */

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-size: cover;
    position: relative;
    animation: slider 12.5s infinite;
    

}

@keyframes slider {
    0%, 16%, 100% {
        background-image: url('https://images.unsplash.com/photo-1419242902214-272b3f66ee7a?q=80&w=1513&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    }
    20%, 36% {
        background-image: url('https://e0.pxfuel.com/wallpapers/500/1004/desktop-wallpaper-starry-night-sky-pc-and-mac-pixel-sky.jpg');
    }
    40%, 56% {
        background-image: url('https://wallpapercave.com/wp/wp12733887.jpg');
    }
    60%, 76% {
        background-image: url('https://c4.wallpaperflare.com/wallpaper/362/463/761/space-purple-galaxy-wallpaper-preview.jpg');
    }
}


.konten-home{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}

.heading{
    font-size: 5rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.konten-home p{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6;
    max-width: 500px;
    text-align: justify;
}

.logo-gacor img{
    position: relative;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--color-second);
    width: 30vw;
    transition: 0.4s ease-in-out;

}

.logo-gacor img:hover{
    animation-name: rotate;
    animation-duration: 0.7s;
    animation-direction: reverse
}

@keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/* SECTION ZODIAK */

.zodiak{
    padding: 100px 15px;
    
}


@font-face {
    font-family: 'ZodiacFont';
    src: url('font/ZodiacFont.ttf') format('truetype');
}

.logo-zodiak{
    font-family: 'ZodiacFont', serif;
    font-size: 10rem;  
    background-color: #2E1A47;
    border: 2px solid #fff; 
    border-radius: 50%;
    padding: 10px;
    width: 120px;
    display: flex;
    justify-content: center;
              
}

.logo-zodiak:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}

.zodiak-box{
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.zodiak .heading{
    margin-bottom: 5rem;
    font-weight: 800;
}


a h4 p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.zodiak-item{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.zodiak-item h4{
    font-size: 2rem;
    margin-top: 1.4rem;

}

.zodiak-item p{
    font-size: 1.1rem;
}

.zodiak-item a{
    transition: 0.4s ease-in-out;
}

.zodiak-item a:hover{
    color: lightgoldenrodyellow;
    text-shadow: 4px 4px 7px #9b5347

}

.wrapper{
    display: grid;
    /* membuat dua kolom yang ukurannya sama lebar. */
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}

.zodiak-item a{
    color: white;
}

/* SECTION ARTIKEL */

.artikel-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
}

.artikel-item{
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    color: azure;
}

.active-filter {
    background: whitesmoke;
    color: #2E1A47;
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 2rem; 
}

.artikel-content{
    display: grid;
    grid-template-columns: repeat(autofit, minmax(280px, auto));
    justify-content: center;
    gap: 1.5rem;
}

.artikel-box{
    box-shadow: black;
    padding: 15px;
    border-radius: 0.5rem;
}

.artikel-box img{
    width: 300px;
    float: left;
    margin-right: 10px;
}

.artikel-box a{
    font-size: 1.5rem;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.artikel-box .category{
    font-size: 2rem;
    color: antiquewhite;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
}

.artikel-box h3{
    font-size: 2rem;
    color: aliceblue;
}

.artikel-box p{
    font-size: 1.5rem;
    color: white; 
    margin-top: 8px;
    justify-content: center;
    align-items: center;
}

.contact-newsletter-container {
    display: flex;
    justify-content: center; /* Agar elemen berjauhan secara horizontal */
    align-items: center;
    padding: 2rem;
    color: white;
}

.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: white;
    border-radius: 15px;
    border: 2px solid white;
    box-shadow: rgba(0, 0, 0, 0.2);
    max-width: 450px;
    min-height: 200px;
    margin: 0 auto; 
    position: relative;
    top: 5%; 
    transform: translateY(-50%); 
}

.contact-newsletter-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 50vh; 
}
.newsletter h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.newsletter p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.newsletter-form {
    display: flex;
    gap: 1rem;
}

.newsletter-form input {
    padding: 0.8rem;
    font-size: 2rem;
    border: none;
    border-radius: 0.5rem;
    width: 250px;
}

.newsletter-form button {
    padding: 0.8rem 1.5rem;
    font-size: 2rem;
    background-color: #3586ff;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.newsletter-form button:hover {
    background-color: #2b6fd6;
}

footer{
    position: relative;
    width: 100%;
    background: #36265c;
    min-height: 100px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social-icon,
footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social-icon li,
footer .menu li{
    list-style: none;

}

footer .social-icon li a{
    font-size: 3em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social-icon li a:hover{
    transform: translateY(-10px);

}

footer .menu li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover{
    opacity: 1;
}

footer p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.3em;
}

footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../img/wave2.png);
    background-size: 1000px 100px;
    
}

footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave_02 3s linear infinite;
}

footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave 3s linear infinite;
}

.ulasan{
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 200vh;
}
.ulasan-container {
    background-color: transparent;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid white;
    box-shadow: rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
}

.ulasan-container h1 {
    font-size: 24px;
    margin: 0;
}

.ulasan-container p{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.rating {
    font-size: 3rem;
    margin: 10px 0;
}

.stars {
    font-size: 50px;
    margin: 10px 0;
}

.star {
    cursor: pointer;
    margin: 0 5px;
}

.one {
    color: rgb(255, 0, 0);
}

.two {
    color: rgb(255, 106, 0);
}

.three {
    color: rgb(251, 255, 120);
}

.four {
    color: rgb(255, 255, 0);
}

.five {
    color: rgb(24, 159, 14);
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 2rem;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 2rem;
    margin-top: 1rem;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.reviews {
    margin-top: 20px;
    text-align: left;
}

.review {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
}

.review p {
    margin: 0;
}

@keyframes animateWave{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}

@keyframes animateWave_02{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}

.body2 {
    background: linear-gradient(45deg, #441d52, #3b2d7a, #2e1a47, #302645);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 12s ease infinite;
    -moz-animation: AnimationName 12s ease infinite;
    -o-animation: AnimationName 12s ease infinite;
    animation: AnimationName 12s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}
@keyframes AnimationName {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}


@media (max-width: 1200px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .konten-home p {
        max-width: 350px;
    }

    .konten-home .heading{
        font-size: 3.5rem;
    }
}
@media (max-width: 768px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .konten-home p {
        max-width: 350px;
    }

    .konten-home .heading{
        font-size: 3.5rem;
    }
}

@media (max-width: 676px) {
    .wrapper {
        grid-template-columns: 1fr;
    }

    .konten-home p {
        max-width: 255px;
    }

    .konten-home .heading{
        font-size: 3.5rem;
    }
}


@media (max-width: 576px) {
    .wrapper {
        grid-template-columns: 1fr;
    }

    .konten-home p {
        max-width: 235px;
    }

    .konten-home .heading{
        font-size: 3.5rem;
    }
}

